.lane_container {
  padding: 1rem;
  grid-row: 1;
  min-width: 250px;
  min-height: 100vh;
}
.lane_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cancel {
  cursor: pointer;
}
.space_start {
  margin-bottom: 4rem;
}
